@model Lesson9_BaiKiemTraGiuaKi.Models.tddKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tddKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TddTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TddTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TddTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TddTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "TddEdit", new { id = Model.TddMaKH }) |
    @Html.ActionLink("Back to List", "TddIndex")
</p>
