
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>
<table class ="table table-bordered">
    <tr>
        <td>tên đơn vị tuyển :</td>
        <td>@TempData["TDVT"]</td>
    </tr>
    <tr>
        <td>loại hình doanh nghiệp:</td>
        <td>@TempData["LHDN"]</td>
    </tr>
    <tr>
        <td>Số lượng nhân viên :</td>
        <td>@TempData["SLNV"]</td>
    </tr>
    <tr>
        <td>Địa chỉ :</td>
        <td>@TempData["DC"]</td>
    </tr>
    <tr>
        <td>Người liên hệ :</td>
        <td>@TempData["NLH"]</td>
    </tr>
    <tr>
        <td>Số điện thoại :</td>
        <td>@TempData["SDT"]</td>
    </tr>
    <tr>
        <td>Số Fax :</td>
        <td>@TempData["SF"]</td>
    </tr>
    <tr>
        <td>Email :</td>
        <td>@TempData["Email"]</td>
    </tr>
    <tr>
        <td>Địa chỉ Website:</td>
        <td>@TempData["DCWS"]</td>
    </tr>
    <tr>
        <td>Tên đăng nhập :</td>
        <td>@TempData["TDN"]</td>
    </tr>
    <tr>
        <td>Mật khẩu :</td>
        <td>@TempData["MK"]</td>
    </tr>
    <tr>
        <td>Xác nhận mật khẩu :</td>
        <td>@TempData["XNMK"]</td>
    </tr>
    <tr>
        <td>Nhận thư điện tử :</td>
        <td>@TempData["NTDT"]</td>
    </tr>
    </table>

